*
{
	font-size: 14pt;
	font-family: Work Sans;
}

QToolTip
{
	border: 1px solid white;
}

QComboBox
{
    font-size: 12pt;
    combobox-popup: 0;
}

QComboBox QAbstractItemView
{
}

QComboBox QAbstractItemView::item
{
    font-size: 12pt;
    min-height: 35px;
}

DualCardView .QFrame
{
    border: 1px solid palette(base);
    background-color: palette(window-text);
}
